@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #011008;
}

::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: hsl(164, 86%, 16%, 10%);
  border-radius: 3px;
}

::selection {
  color: white;
}
